---
const {
  title,
  img,
  desc,
  descHtml = false,
  url,
  badge,
  tags,
  target = "_blank",
  titleClass = "",
  contentClass = "",
} = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%] group"
>
  <a
    href={url}
    target={target}
    rel={target === "_blank" ? "noopener noreferrer" : undefined}
    class="block focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-base-100"
  >
    <div class={`hero-content flex-col md:flex-row ${contentClass}`}>
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1
          class={`text-xl font-bold group-hover:underline underline-offset-4 ${titleClass}`}
        >
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        {
          descHtml ? (
            <p class="py-1 text-1xl" set:html={desc} />
          ) : (
            <p class="py-1 text-1xl">{desc}</p>
          )
        }

        <!-- Slot for extra content -->
        <slot name="extra" />

        <!-- Tags moved to display after extra content -->
        <div class="tag-row">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="tag">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
